body {
    background-color: #ffe6eb;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-top: 30px;
    color: #d6336c;
  }
  
  img {
    width: 300px;
    margin: 20px 0;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
  }
  
  #yes-button {
    background-color: #ff4d6d;
    color: white;
    width: 50px;
    height: 50px;
  }
  
  #no-button {
    background-color: #adb5bd;
    color: black;
  }
  
  .message {
    display: none;
    margin-top: 30px;
    color: #ff4d6d;
  }
.message p {
  margin-bottom: 18px;
  font-size: 18px;
}

.message h2 {
  font-size: 28px;
  margin-bottom: 25px;
}

.message h3 {
  margin-top: 30px;
  font-size: 22px;
}

.signature {
  font-weight: bold;
  margin-top: 20px;
}


  

